---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm William MBOZO’O, a Software Engineer and Computer Science student with a focus on Software Engineering. I'm currently pursuing a degree in Computer Science and Systems Information. My interests span Business Intelligence, Digital Transformation, and Machine Learning. With a passion for technology and problem-solving, I aim to contribute to impactful projects and innovations.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor's Degree in Computer Science and Systems Information"
      subtitle="2019 to 2024 at [University Name], [City], Cameroon"
    />
    <TimeLineElement
      title="Specialization in Software Engineering"
      subtitle="2024 to 2026 at [University Name], [City], Cameroon"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Intern, Software Developer"
      subtitle="From June 2023 to August 2023 at [Company Name], [City], Cameroon"
    >
      During this internship, I worked on improving the functionality of a web application by implementing new features and optimizing the user interface. I utilized frameworks such as Angular and Spring Boot.
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Developer"
      subtitle="From September 2023 to Present at [Client Name], [City], Cameroon"
    >
      I have been developing custom software solutions for small businesses, including websites and mobile applications using modern technologies like React and Firebase.
    </TimeLineElement>
    <TimeLineElement
      title="Software Development Intern"
      subtitle="From December 2024 to February 2025 at [Company Name], [City], Cameroon"
    >
      I participated in the development of a project for detecting plagiarism using advanced algorithms and Spring Boot framework.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">Certified Python Developer (link)</a>
    </li>
    <li>
      <a href="#" target="_blank">Oracle Database Certification (link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Python</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>React</li>
    <li>Firebase</li>
    <li>Angular</li>
    <li>Machine Learning</li>
    <li>Business Intelligence</li>
    <li>Digital Transformation</li>
    <li>Docker</li>
    <li>Git</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
  </ul>
</BaseLayout>

